@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>后台管理页面</title>
</head>
<body>
    <div>
    您好,欢迎管理员登录成功
    </div>
</body>
</html>
