@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="width:300px;height:200px;margin:200px auto 0px;">
    <form id="adminLoginForm">
        <table>
            <tr>
                <td>用户名:</td>
                <td><input type="text" name="nick_name" /> </td>
            </tr>
            <tr>
                <td>密码:</td>
                <td><input type="text" name="pwd" /> </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="button" value="登录" /> </td>
            </tr>
        </table>
    </form>
    </div>
</body>
</html>
