@{
    Layout = "~/Views/Shared/_LayoutTop.cshtml";
}

@{ var m = (EFDao.Entity.article)ViewData["m"];}

<div style="width:100%;text-align:center;height:50px;font-size:20px;color:#666;line-height:50px;">@m.title</div>

<div style="width:100%;">
    <div style="width:100%;text-align:center;height:30px;line-height:30px;color:#666;">关键字:@m.keywords  发布时间: @m.addtime.ToString("yyyy-MM-dd HH:mm")</div>
</div>

<div style="width:100%;color:#AE685B;padding-top:20px;">
    @Html.Raw(m.content)
</div>