@{
    Layout = "~/Views/Shared/_LayoutTop.cshtml";
}
<style type="text/css">
    #yc_explain {
        width: 660px;
    }

    h1 {
        font-size: 24px;
        text-align: center;
        height: 50px;
        line-height: 50px;
        color: #444;
    }

    .wxh_div span {
        display: block;
        color: #FF0000;
        text-align: center;
        height: 36px;
        line-height: 36px;
        font-size: 18px;
    }

    .red {
        color: #f00;
    }

    .important {
        color: #000;
    }

    .wxh_img_div div {
        width: 200px;
        height: 200px;
        margin: 0px auto 0px;
    }

    .art_content p {
        line-height: 200%;
    }

    .tit1 {
        font-size: 16px;
        font-weight: 600;
        display: block;
    }

    .content {
        color: #666;
    }

    #dec_content {
        line-height: 200%;
    }

    .nl_div {
        height: 30px;
        width: 100%;
    }
</style>
<div id="yc_explain">
    <h1>专业八字算命预测-免费预测过去 付费预测未来</h1>

    <div class="wxh_div">
        <span>免费预测过去，付费预测未来</span>
        <span>（预测请扫码 或 加微信：383129257）</span>
    </div>

    <div class="wxh_img_div">
        <div><img src="~/imgs/weixin.jpg" height="200" /> </div>
    </div>

    <div class="art_content">
        <p>
            <span class="tit1"> 一、<span class="red">八字</span>预测综述</span>
            <span class="content">
                八字算命也叫四柱预测、生辰八字预测。
                是根据人出生的年、月、日、时的甲子历法，按照阴阳五行的方法来预测人的一生，包含性格、出生家庭、婚姻、工作事业、财运、身体健康等。
            </span>
        </p>

        <br />
        <p>
            <span class="red">预测原则：免费简单预测过去；双方满意后、付款预测将来；</span>
        </p>
        <br />

        <p class="important">
            <span class="tit1">诚心求测者请提供以下信息：</span>
            性别<br />
            出生时间:北京时间（即年月日时、注明阳历还是阴历）<br />
            出生地点（注明是农村、城市、还是城镇）<br />
            目前生活地点（注明是农村、城市、还是城镇）<br />
            学历（注明是否后补）及进入社会参加工作的年份<br />
            最想批的项目（以便注意分析）、参与哪个档次预测<br />
            因为是网络预测，最好能附加免冠正面照及生活照两张，主要为了提高预测的准确性。<br />
        </p>

        <br />
        <p class="important">
            微信号：383129257。非诚勿扰。<br />
            简批满意后，微信或支付宝转账。
        </p>
        <br />

        <div id="dec_content">
            <span class="tit1">注</span>

            <span class="tit1">1、必须反馈的提示：</span>
            <span class="content">
                简批过去分性格、出生家庭、姻缘、工作事业、流年等几个角度预测，篇幅大致一页左右，由于是免费简测过去，需要花费较多精力，
                故无论预测过去是否准确，均要求求测者能仔细予以反馈，不能做到此条者请勿求测。
                因为本人除去为人预测，还同时要更深入研究易学之故。当然，很多时候预测不准往往是时辰原因导致。
            </span>

            <div class="nl_div"></div>

            <span class="tit1">2、准确率问题及不准确不必付费预测的说明：</span>
            <span class="content">
                因为毕竟不是神仙，且相同八字不同的命运很多，所以预测过去无法达到100%的准确率，可能会在70-90%，这个首先要有心理准备。
                当然每个人标准不一样，低于此准确率，则求测者可以不再付费预测，本人也绝无见怪之意，但请放心。另外准确率不高，本身也往往拒绝你付费预测。
            </span>

            <div class="nl_div"></div>

            <span class="tit1">3、同八字及提供信息的说明：</span>
            <span class="content">
                按照八字的几率，在中国大致有2500人是同样一个八字，在世界上大约是1万人是同样一个八字。
                同样八字的命运是有程度上下的区别的，命运不尽然相同，所以提供学历、提供照片，主要是为了区别同八字的不同命运，
                专业术语叫“定太极”。当然能提供些更多信息更好，比如你目前的收入、你住的房子的情况、你单位的房子情况、你很密切的同事或者老板的等等，
                这些信息可以是和你求测内容完全无关的信息，比如求测婚姻事业、但是提供父母的情况；提供局部的相关信息自然更好，这就比如看医生，
                往往先向医生表明自己之前的病情，更加便于医生判断一样。
                另外提供信息也利用对出生时辰有个初步的判断。
                不提供更多信息而想考考本人水平的也没关系，完全可以理解，哈哈
            </span>

            <div class="nl_div"></div>

            <span class="tit1">4、非诚勿扰的提示</span>
            <span class="content">
                如果预测准确率高，双方均满意，则付费，然后预测。有遇到求测者在简批过去之后言：“老师，你预测过去总的来说很准，
                我也绝对相信你的水平，但是现在我又很害怕知道自己的将来，所以先不预测了，给你带来麻烦，请见谅。”我就要晕了，哈哈，
                这属于提出求测申请之前需要考虑的事情。
                也有一些求测者原本抱着试试看的心态来免费求测，后来本人免费预测的很准，他本没有做好付费预测的打算，结果有些骑虎难下，搞得自己不太好意思。
                故曰：非诚勿扰。
                请在发邮件之前考虑好、准备好付费预测的决定，而后再求测，因为这是一种口头协议、凭的是个人的信用，另外一方面本人也很忙，还请理解。
                当然，如果简批的准确率不高，就不必付费预测，这点天经地义，毋庸置疑，大可以坦然。
            </span>

            <div class="nl_div"></div>
            <span class="tit1">具体内容如下：</span>

            <span class="tit1">总论：</span>
            <span class="content">
                五行喜忌神分析(专业内容，可以不予理会）
            </span>

            <span class="tit1">性格：</span>
            <span class="content">
                性格分析，对婚姻事业的影响
                性格改善之建议：
            </span>


            <span class="tit1">父母：</span>
            <span class="content">
                （简单分析，有父母的八字也可以提供，以作简单分析）
            </span>

            <span class="tit1">恋爱婚姻：</span>
            <span class="content">
                （详细分析，有爱人的八字最好提供，以作简单分析）
            </span>

            <span class="tit1">
                子女篇：（简单分析）
            </span>
            <span class="content">
                子女优劣分析
                推荐生育年份
                子女八字简单分析（针对已育）
            </span>

            <span class="tit1"> 学业篇：（简单分析）</span>

            <span class="tit1">事业财运：（详细分析）</span>
            <span class="content">
                擅长岗位、适合行业岗位推荐：<br />
                五行角度选行业<br />
                <span class="red">十神</span>角度分析岗位和行业<br />
                目前实际工作岗位分析是否适合自己<br />
                一生工作趋势富贵升降情况（结合大运分析）<br />
                富贵定位：社会层次，趋富还是贵。<br />
            </span>

            <span class="tit1">身体健康： （简单分析）</span>
            <span class="content">
                五行生理分析：
                心理健康分析：
                结合大运分析一生可能的发病期
            </span>

            <span class="tit1"> 大运(60岁前大运分析)（详细分析）</span>
            <span class="content">
                60岁前大运具体分析：工作、婚姻、身体健康等各方面综合报告
            </span>

            <span class="tit1"> 流年（今后6年年份分析）</span>

            <span class="tit1">趋吉避凶篇（调整自己的命运）</span>
            <span class="content">
                性格调整<br />
                职业调整<br />
                方位调整<br />
                物体调整<br />
                颜色调整<br />
                贵人属相分析<br />
                其他调整<br />
                （有要求双方可再讨论<br />
                准备付款求测者，对过去的免费预测部分，无论是否准确、是否继续付款预测，均需要进行反馈，不准备反馈的求测者请勿扰。
                因为对过去的预测比较花费时间精力，所以反馈是你对义务劳动的回馈；而很多时候，也发现求测者不能理解的批语而反馈说不准确.
            </span>

            <div class="nl_div"></div>

        </div>
    </div>
</div>