@{
    Layout = "~/Views/Shared/_LayoutTop.cshtml";
}
<style type="text/css">
    #yc_explain {
        width: 660px;
    }
    h1 {
        font-size: 24px;
        text-align: center;
        height: 50px;
        line-height: 50px;
        color: #444;
    }
    .wxh_div span {
        display: block;
        color: #FF0000;
        text-align: center;
        height: 36px;
        line-height: 36px;
        font-size: 18px;
    }
    .wxh_img_div div{width:200px;height:200px;margin:0px auto 0px;}
</style>
<div id="yc_explain">
    <h1>专业八字算命预测-免费预测过去 付费预测未来</h1>

    <div class="wxh_div">
        <span>免费预测过去，付费预测未来</span>
        <span>（预测请扫码 或 加微信：383129257）</span>
    </div>

    <div class="wxh_img_div">
        <div><img src="~/imgs/weixin.jpg" height="200"/> </div>
    </div>
</div>