@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>魏清风水算命论坛</title>
</head>
<body>
    <div>
        欢迎访问,手机版的访问action是@(ViewData["act"])
    </div>
</body>
</html>
