@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>魏清风水算命论坛</title>
</head>
<body>
    <div>
        欢迎访问,手机版的访问action是@(ViewData["act"])
        <a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=91d9e0f11f19ee1bd61dd49ec63bf8699dc118530fb84b063ca944f3db685f98">
            <img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="QQ飞车交流群" title="QQ飞车交流群">
        </a>
    </div>
</body>
</html>
