@{
    Layout = "~/Views/Shared/_LayoutTop.cshtml";
}

<div style="width:100%;">
    <div style="height:60px;width:439px;float:left;">
        <img src="~/imgs/title.png" title="魏清八字风水算命论坛" height="60" />
    </div>
    <div style="background-color:#EAE2D5;font-size:16px;color:#AE6252;height:60px;width:auto;margin-left:-445px;overflow:hidden;text-indent:2em;padding-top:10px;">
        欢迎加入算命风水相术中医交流群: 372417319
    </div>
</div>