@{
    Layout = "~/Views/Shared/_LayoutTop.cshtml";
}

<style type="text/css">

    .main_content1 {
        width: 660px;
        margin-top: 5px;
        background-image: url(/imgs/split-line-x.png);
        background-repeat: repeat-x;
        padding-top: 2px;
    }

    .news_box{float:left;width:660px;}
    .news_box_rt{float:right;width:330px;}

    .main_content1_title {
        height: 38px;
        font-size:12px;
        width: 100%;
    }
    .main_content1_content{
        width:100%;
        min-height:275px;
    }
    .main_content1_content .lt{
        width:50%;
        height:100%;
        float:left;
    }
    .main_content1_content .rt{
        width:50%;
        height:100%;
        float:right;
    }

        .main_content1_content ul {
            min-height: 252px;
            width:100%;
        }
        .main_content1_title .yhat_lt {
            float:left;
            width: 50%;
            height: 38px;
            color: #CC0000;
            font-size: 16px;
            line-height: 38px;
        }
        .main_content1_title .yhat_rt {
            float:right;
            width: 50%;
            height: 38px;
            color: #CC0000;
            font-size: 16px;
            line-height: 38px;
        }

</style>

<script type="text/javascript">

</script>


@*左侧的整个的文章列表*@
<div class="news_box">

    @*上面内容的两个分类*@
    <div class="main_content1">
        <div class="main_content1_title">
            <div class="yhat_lt">
                <div style="margin-left:20px;float:left;">● 热门</div>
                <div style="float:right;color:#551A8B;margin-right:20px;"></div>
            </div>
            <div class="yhat_rt">
                <div style="margin-left:20px;float:left;">● 预测历史</div>
                <div style="float:right;color:#551A8B;margin-right:20px;"> <a href="/index/ycList" target="_blank">更多>></a> </div>
            </div>
        </div>
        
        <div class="main_content1_content">

            @*预测历史*@
            <div class="lt">
                <ul>
                    @{ 
                        if (ViewData["baziList"] != null)
                        {
                            var bzList = (List<EFDao.Entity.bazijianpi>)ViewData["baziList"];
                            if (bzList != null && bzList.Count > 0)
                            {
                                foreach (var item in bzList)
                                {
                                    <text><li><a style="color:#551A8B;font-size:12px;" href="/index/bzjp/@item.id" target="_blank">@item.name &emsp;@item.bazi &emsp; @item.addtime.ToString("yyyy-MM-dd HH:mm") </a> </li> </text>
                                }
                                <text>@Html.Raw(ViewData["baziUrl"]) </text>
                            }
                            else
                            {
                                <text><li style="color:#551A8B;">无数据</li> </text>
                            }
                        }
                    }
                </ul>
            </div>

            @*文章分类编号1*@
            <div class="rt">

            </div>


        </div>
    </div>

</div>