@{
    Layout = "~/Views/Shared/_LayoutTop.cshtml";
}

<style type="text/css">

    .yuce_history_article {
        width: 660px;
        margin-top: 5px;
        background-image: url(/imgs/split-line-x.png);
        background-repeat: repeat-x;
        padding-top: 2px;
    }
    .news_box{float:left;width:660px;}
    .news_box_rt{float:right;width:330px;}

    .yuce_history_article_title {
        height: 38px;
        width: 100%;
        background-color: #F5F5F1;
    }
        .yuce_history_article_title .yhat_lt {
            float:left;
            background-image: url(/imgs/news-bg.png);
            background-repeat: no-repeat;
            width: 50%;
            height: 38px;
            background-position-x: 12px;
            background-position-y: 12px;
            text-indent: 38px;
            color: #CC0000;
            font-size: 16px;
            line-height: 38px;
        }
        .yuce_history_article_title .yhat_rt {
            float:right;
            background-image: url(/imgs/news-bg.png);
            background-repeat: no-repeat;
            width: 50%;
            height: 38px;
            background-position-x: 12px;
            background-position-y: 12px;
            text-indent: 38px;
            color: #CC0000;
            font-size: 16px;
            line-height: 38px;
        }

</style>

<script type="text/javascript">
    $(function () {

    });
</script>


@*左侧的整个的文章列表*@
<div class="news_box">

    @*预测历史和帖子内容标题列表*@
    <div class="yuce_history_article">
        <div class="yuce_history_article_title">
            <div class="yhat_lt">
                预测历史
            </div>
            <div class="yhat_rt">
                坛友帖子
            </div>
        </div>
    </div>
</div>