@{
    Layout = null;
}

<style type="text/css">
    input::-webkit-input-placeholder{color:#bbb;}
    input::-moz-placeholder{color:#bbb;}
    input:-moz-placeholder{color:#bbb;}
    input:-ms-input-placeholder{color:#bbb;}
</style>

<div style="width:100%;border:0px solid #aaa;font-size:12px;height:100%;background-color:#fff;color:#666;">
    <div style="width:100%;height:32px;line-height:32px;text-indent:1em;background-color:#eee;">
        举报
        <a href="javascript:;" onclick="cls()" style="display:inline-block;float:right;position:relative;top:6px;right:6px;"><img src="~/imgs/guanbi.png" height="20" width="20" /></a>
    </div>
    <form id="jubao_tiezi_form">
        <input type="hidden" name="tzid" value="" />@*指定楼层的帖子id*@
        <input type="hidden" name="content"  value=""/> @*举报的帖子的内容*@
        理由: <input type="text" name="reason" placeholder="请输入举报的原因"/><br />
        <input type="button" value="确定" />
    </form>
</div>
