@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>魏清风水算命论坛</title>
</head>
<body>
    <div>
        欢迎访问手机版论坛, 待完成
    </div>
</body>
</html>
