@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>魏清风水算命论坛</title>

    <style type="text/css">
        * {
            margin: 0px;
            padding: 0px;
            list-style-type: none;
        }

        html {
            font-size: 1mm;
        }

        input::-webkit-input-placeholder {
            color: #bbb;
        }

        input::-moz-placeholder {
            color: #bbb;
        }

        input:-moz-placeholder {
            color: #bbb;
        }

        input:-ms-input-placeholder {
            color: #bbb;
        }

        .octicon {
            display: inline-block;
            vertical-align: text-top;
            fill: #C6C7C8;
        }

        .cdiv {
            margin: 2rem 2rem 0rem;
        }
    </style>

    <script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $("#key").focus();
            $("#key").keydown(function (event) {
                if (event.keyCode == 13) {
                    searchBazi();
                }
            });
        });

        // 搜索八字
        function searchBazi() {
            if ($("#key").val() == '' || $("#key").val().length == 0) {
                location.href = "/m/index_m/index";
            } else {
                location.href = "/m/index_m/index?key=" + $("#key").val();
            }
        }
    </script>
</head>
<body>
    <div style="background-color:#533535;min-height:50px;width:100%;padding-left:10px;padding-top:20px;">
        <svg aria-hidden="true" class="octicon octicon-three-bars" height="24" version="1.1" viewBox="0 0 12 16" width="18">
            <path fill-rule="evenodd" d="M11.41 9H.59C0 9 0 8.59 0 8c0-.59 0-1 .59-1H11.4c.59 0 .59.41.59 1 0 .59 0 1-.59 1h.01zm0-4H.59C0 5 0 4.59 0 4c0-.59 0-1 .59-1H11.4c.59 0 .59.41.59 1 0 .59 0 1-.59 1h.01zM.59 11H11.4c.59 0 .59.41.59 1 0 .59 0 1-.59 1H.59C0 13 0 12.59 0 12c0-.59 0-1 .59-1z"></path>
        </svg>
    </div>

    @*站长每日发布的文章*@
    <div>
        <div class="cdiv">
            <input type="text" style="width:99%;height:4rem;" placeholder="请输入姓名,八字,出生地搜索"  id="key"/>
        </div>

        @*预测内容*@
        <div class="cdiv">
            <table style="width:100%;">
                @{
                    if (ViewData["ycList"] != null)
                    {
                        var list = (List<EFDao.Entity.bazijianpi>)ViewData["ycList"];
                        if (list != null && list.Count > 0)
                        {
                            foreach (var item in list)
                            {
                                <tr style="font-size:4rem;height:4rem;">
                                    <td>@item.name</td>
                                    <td>@item.bazi</td>
                                    <td>@item.addtime.ToString("yyyy-MM-dd HH:mm")</td>
                                </tr>
                            }
                        }
                    }
                }
            </table>
        </div>
    </div>

</body>
</html>
