@{
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

<script type="text/javascript">
    $(function () {
        $("#key").focus();
        $("#key").keydown(function (event) {
            if (event.keyCode == 13) {
                searchBazi();
            }
        });
    });

    // 搜索八字
    function searchBazi() {
        if ($("#key").val() == '' || $("#key").val().length == 0) {
            location.href = "/m/index_m/yclist";
        } else {
            location.href = "/m/index_m/yclist?key=" + $("#key").val();
        }
    }
</script>


@*站长每日发布的文章*@
<div class="cdiv">
    <input type="text" style="width:99%;height:4rem;" placeholder="请输入姓名,八字,出生地搜索" id="key" />
</div>

@*预测内容*@
<div class="cdiv">
    <table style="width:100%;">
        @{
            if (ViewData["ycList"] != null)
            {
                var list = (List<EFDao.Entity.bazijianpi>)ViewData["ycList"];
                if (list != null && list.Count > 0)
                {
                    foreach (var item in list)
                    {
                        <tr style="font-size:4rem;height:4rem;">
                            <td>@item.name</td>
                            <td>@item.bazi</td>
                            <td>@item.addtime.ToString("yyyy-MM-dd HH:mm")</td>
                        </tr>
                    }
                }
            }
        }
    </table>
    @Html.Raw(ViewData["url"])
</div>