<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="emailHostAddress" value="smtp.163.com"/> <!--邮件服务器主机地址-->
    <add key="emailUserName" value="s694060865"/> <!--邮箱账号,用于登录邮件服务器-->
    <add key="emailUserPassCode" value="gesneriana7"/>  <!--邮箱账号的授权码,用于登录邮件服务器-->
    <add key="emailFromAddress" value="s694060865@163.com"/>  <!--邮件的发件人地址-->
  </appSettings>
</configuration>